h1 {
color: #369;
font-family: Arial, Helvetica, sans-serif;
font-size: 250%;
}
h2, h3 {
color: #444;
font-family: Arial, Helvetica, sans-serif;
font-weight: lighter;
}


.headert {
margin-left: 30px;
margin-top: 80px;
margin-bottom: 30px;
}

#markermap{
height:558px;


}
.searchbar{
margin-bottom: 20px;
height:40px;
padding-top: 6px;

}
.mapdescription{
margin-left: 0px;
margin-right: 0px;
}

.navbar-inverse{
background-color: #00357f;
}

.navbar-brand{
color:#fff;

}

#logo_no_globe_new_logo {
width: 150px;
top:14px;
left: 13px;
}

.right-description{
font-size: 15px;
color:#00357f;
line-height:40px;
}

.result-container{
margin-left: 0px;
margin-top: 0px;
color: #00357f;
background-color: #FEBB02;
}



.thumbnail{
  height:120px;
}

.navbar{
  background-color: 003580;
  margin-bottom: 0px;
}
.navbar h1{
  color: #fff;
}
